/*start of navbar css code*/
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f4f4f4;
}

li 
{
    float: right;
    display: inline;    
}

li a
{
    display: block;
    color: #dcd0c0;
    text-align: center;
    padding: 15px 11px;
    text-decoration: none;
}

li a:hover 
{
    background-color: #373737;
}
/*end of navbar css code*/

body
{
	background-color: #373737;
}

h1
{
	color: #dcd0c0;
	border-style: groove;
	text-align:center;
}

p
{
	color: #dcd0c0;
	font-size:14pt;
	border-style: groove;
	text-align:center;
}

img
{
display: block;
margin: auto;
}